--
-- PostgreSQL database dump
--

\restrict bav5lTh1rPySgzgKd2rSkEjTWQZy60lj9FooaXPf5cl5lVajvvTR9dK6FjPXFdg

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.orden_mantenimiento DROP CONSTRAINT orden_mantenimiento_pkey;
DROP TABLE public.orden_mantenimiento;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: orden_mantenimiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orden_mantenimiento (
    id bigint NOT NULL,
    descripcion character varying(255) NOT NULL,
    estado character varying(255) NOT NULL,
    fecha_programada date,
    id_proveedor bigint NOT NULL,
    CONSTRAINT orden_mantenimiento_estado_check CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'EN_PROCESO'::character varying, 'FINALIZADA'::character varying, 'CANCELADA'::character varying])::text[])))
);


ALTER TABLE public.orden_mantenimiento OWNER TO postgres;

--
-- Name: orden_mantenimiento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orden_mantenimiento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orden_mantenimiento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: orden_mantenimiento; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.orden_mantenimiento VALUES (2, 'Revisi├│n anual de extintores en todos los pisos.', 'PENDIENTE', '2026-05-10', 12);
INSERT INTO public.orden_mantenimiento VALUES (3, 'Urgente: Fuga de gas en sala de calderas.', 'PENDIENTE', '2026-04-22', 88);
INSERT INTO public.orden_mantenimiento VALUES (4, 'Pintura de la fachada de la Torre A.', 'PENDIENTE', '2026-06-01', 45);


--
-- Name: orden_mantenimiento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orden_mantenimiento_id_seq', 4, true);


--
-- Name: orden_mantenimiento orden_mantenimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orden_mantenimiento
    ADD CONSTRAINT orden_mantenimiento_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict bav5lTh1rPySgzgKd2rSkEjTWQZy60lj9FooaXPf5cl5lVajvvTR9dK6FjPXFdg

